.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 48%;
  font-size: 19px;
  padding-top: 10px;
}

.filters input {
  width: 105%;
  border: 2px solid #cccccc;
  border-radius: 4px;
  font-size: 19px;
  height: 55px;
  padding: 6px 0px 6px 13px;
  -webkit-text-fill-color: #878787;
}

.filters .filter-select {
  width: 100%;
  -webkit-text-fill-color: #9e9e9e;
}

.filters .filter-select:nth-child(2) {
  right: 0.5%;
}

.filters .filter-select:nth-child(3) {
  left: 1%;
}
